workflows/all_workflows.json
[{"createdAt":"2025-11-18T13:55:12.920Z","updatedAt":"2025-11-19T09:14:11.027Z","id":"DZhUGep4gR9ipoqh","name":"Workflow_RH","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-432,208],"id":"077606b6-7c23-4798-9b7d-bc73934e7185","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"mutation { createSessionEnrollment(sessionId: \\\"ID_RECUPERE\\\", trainee: { firstName: \\\"...\\\", lastName: \\\"...\\\", email: \\\"...\\\" }) { id } }\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,144],"id":"3d943234-851e-4540-b291-d5c956c70c82","name":"HTTP Request"},{"parameters":{"content":"Récupérer les ligne du excel","height":80,"width":160},"type":"n8n-nodes-base.stickyNote","position":[-256,112],"typeVersion":1,"id":"f50e7ef1-cc45-47f1-9f0f-8136f0b37199","name":"Sticky Note"},{"parameters":{"content":"Prends la date d'entrée, ajoute 2 mois ou si supérieur à 2 mois (à valider), et donne-moi le mois de la prochaine session correspondante","height":176,"width":166},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"e789501f-6775-439c-bf6a-370f39c920a5","name":"Sticky Note2"},{"parameters":{"content":"Inscrire sur Digiforma - le truc un peu délicat avec date id de session","height":80,"width":208},"type":"n8n-nodes-base.stickyNote","position":[976,32],"typeVersion":1,"id":"f7b78a0c-0b01-4f84-b1cd-47303ecae33d","name":"Sticky Note3"},{"parameters":{"content":"Envoyer un message à la personne depuis le mail dans le fichier et avec sa date de formation","height":112,"width":224},"type":"n8n-nodes-base.stickyNote","position":[1424,16],"typeVersion":1,"id":"9b3b646b-51ea-4d03-9c66-dc9efd6806da","name":"Sticky Note4"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"mode":"list","value":""},"worksheet":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[1920,128],"id":"920270da-5389-4443-a4e8-1290de06200a","name":"Update sheet"},{"parameters":{"content":"mettre à jour le fichier","height":80,"width":176},"type":"n8n-nodes-base.stickyNote","position":[1872,32],"typeVersion":1,"id":"47eb3e9f-ef22-414d-a0f1-969341b58444","name":"Sticky Note6"},{"parameters":{"resource":"table","operation":"getRows","workbook":{"__rl":true,"mode":"list","value":""},"worksheet":{"__rl":true,"mode":"list","value":""},"table":{"__rl":true,"mode":"list","value":""},"filters":{}},"type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[-224,208],"id":"b03c9eeb-a25e-40d1-80d8-99c924307312","name":"Get rows"},{"parameters":{"method":"POST","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"query { sessions(filters: { search: \\\"{{ $json.session_cible }}\\\" }) { id, name } }\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,176],"id":"539e88ba-5065-499b-90bf-17789570935d","name":"HTTP Request1"},{"parameters":{"content":"Date de prochaine session en fonction de date d'entrée et > à 2 mois.","height":96,"width":224},"type":"n8n-nodes-base.stickyNote","position":[512,32],"typeVersion":1,"id":"dec50d1e-1502-4c90-bb46-ca376aef6721","name":"Sticky Note1"},{"parameters":{"method":"POST","sendBody":true,"specifyBody":"json","jsonBody":"{ \"sendMail}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,144],"id":"ab1d0526-4039-4f36-a599-f927aaf89be8","name":"HTTP Request2"},{"parameters":{"operation":"addToDate","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[32,208],"id":"3e84ea8b-8e71-4107-b4e9-afc82a822498","name":"Date & Time"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fcbecd24-6a4b-441b-84b9-4d8e23ef60a5","leftValue":"={{ date_inscripton }}","rightValue":"","operator":{"type":"boolean","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,208],"id":"bd6d39b8-7f24-4f9e-bb64-bf9104c19786","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[224,464],"id":"e5033b92-16dc-4df0-abe0-0d837f429b05","name":"No Operation, do nothing"},{"parameters":{"content":"si pas de date d'inscription dans le tableau excel","height":80},"type":"n8n-nodes-base.stickyNote","position":[192,112],"typeVersion":1,"id":"fbdeb557-2691-4394-b351-59ec4e4da28e","name":"Sticky Note5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1d27a0a4-dbe2-47e6-bf73-5a98aea1c7f8","leftValue":"={{ response }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[816,176],"id":"6276f886-09df-4b00-a26f-a652f5a3014e","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[784,464],"id":"8a1cad78-5bfe-45e6-9665-ffdf35f52bc8","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ffdd64c9-f37c-4c45-82f0-427fae0adf2f","leftValue":"={{ response }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,144],"id":"205b529e-5205-4efd-b0ed-22c5a0fd98af","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1216,464],"id":"1ac57fd6-d332-4684-9c31-b0a7fed6f426","name":"No Operation, do nothing2"},{"parameters":{"content":"Si date => next sinon stop","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[784,48],"typeVersion":1,"id":"dca3ce38-1b7b-47c1-a31e-ed5d8172fa15","name":"Sticky Note7"},{"parameters":{"content":"Si response => next sinon stop","height":80,"width":176},"type":"n8n-nodes-base.stickyNote","position":[1216,32],"typeVersion":1,"id":"676b9df9-bbaa-48d0-8e1e-a433b8d356ce","name":"Sticky Note8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cf78a8db-38f8-4d69-a458-550675309332","leftValue":"={{ email.sent }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1712,144],"id":"8d4f294c-5ac8-48b9-bfe2-81d1a38c9832","name":"If3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1632,464],"id":"4e917a7f-2849-40df-8eb7-62b3425a81c5","name":"No Operation, do nothing3"},{"parameters":{"content":"Si mail envoyé => next sinon stop","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[1680,32],"typeVersion":1,"id":"c35fdc08-f1be-4238-b61d-cd4f2e28cb71","name":"Sticky Note9"},{"parameters":{"subject":"Worflow complete","bodyContent":"Worflow complet - Fichier mis à jour","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2128,128],"id":"fb70360d-2bea-4b3d-b3f0-a7640626dba4","name":"Send a message","webhookId":"08341b3c-7712-45a8-88db-cc7e25057cc1"},{"parameters":{"content":"Mail de confirmation à l'équipe","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[2096,16],"typeVersion":1,"id":"53678c3d-2a1d-4f95-8b1f-a4fc99975243","name":"Sticky Note10"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get rows","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If2","type":"main","index":0}]]},"Get rows":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"If1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"If3","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"If2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"If3":{"main":[[{"node":"Update sheet","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Update sheet":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fd5b798a-083b-44dd-a1ed-aa7864a2a392","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-18T13:55:12.920Z","updatedAt":"2025-11-18T13:55:12.920Z","role":"workflow:owner","workflowId":"DZhUGep4gR9ipoqh","projectId":"54rZj8XykqQD2CZr","project":{"createdAt":"2025-11-18T13:51:35.122Z","updatedAt":"2025-11-18T13:52:57.313Z","id":"54rZj8XykqQD2CZr","name":"Franck Vienot <franckvienot7@gmail.com>","type":"personal","icon":null,"description":null}}]}]